<%- include header %>
<p>
	<% if(user && (user.name == post.name)) { %>
		<span><a href="/edit/<%= post.name %>/<%= post.time.day%>/<%= post.title %>" class="edit">edit</a></span>
		<span><a href="/remove/<%= post.name %>/<%= post.time.day%>/<%= post.title %>" class="edit">delete</a></span>
	<% } %>
</p>
<p class="info">
	author: <a href="/u/<%= post.name %>"><%= post.name%></a> |
	dateTime:<%= post.time.minute %>
	tags :
	<% post.tags.forEach(function(tag, index){ %>
		<a href="/tags/<%= tag %>" class="tag"><%= tag %></a>
	<% }) %>
</p>
<p class="info">read : <%= post.pv %> | comments : <%= post.comments.length %></p>
<P><%- post.post %></P>
<%- include comment %>
<%- include footer %>
