<%- include header %>
        <form method="post">
        <p>标题：</p>
        <input type="text" id="title" name="title" value="<%= post.title%>"  disabled="disabled">
        <p>tags:</p>
        <input type="text" id="tag1" name="tag1" value="<%= post.tags[0]%>"  disabled="disabled">
        <input type="text" id="tag2" name="tag2" value="<%= post.tags[1]%>"  disabled="disabled">
        <input type="text" id="tag3" name="tag3" value="<%= post.tags[2]%>"  disabled="disabled">
        <p>正文：</p>
        <textarea name="post" id="detail" cols="30" rows="10"><%= post.post %></textarea>
        <p><input type="submit" value="edit" ></p>
        </form>
<%- include footer %>
