<%- include header %>
<% posts.forEach(function(post, index){ %>
<p>
	<h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title%></a></h2>
	<a href="/u/<%= post.name %>"><img src="<% post.head %>" class="r_head" alt=""></a>
</p>
<p class="info">
	author: <a href="/u/<%= post.name %>"><%= post.name%></a>|
	dateTime:<%= post.time.minute %>
	tags :
	<% for(var ii = 0; ii < post.tags.length ; ii ++){ %>
		<% if (post.tags[ii]) { %>
			<a href="/tags/<%= post.tags[ii] %>" class="tag"><%= post.tags[ii] %></a>
		<% } %>
	<% } %>
</p>
<p><%- post.post %></p>
<p class="info">read : <%=post.pv %> | comments : <%= post.comments.length %></p>
<%})%>
<%- include paging %>
<%- include footer %>
